      <% if users.exists? %>
      <%= render 'users/index', users: users %>
      <% else %>
        <h2>ユーザーはまだいません</h2>
      <% end %>
    </div>
    <div class="col-3 d-none d-lg-block">
      <%= render 'search/searchbar' %>
    </div>
  </div>
</div>