<div class="col-12 text-center">
<%= form_with model:[post, post_comment] do |f| %>
  <%= f.text_area :comment, size: "30x5", placeholder: "コメントをここに" %>
  <%= f.submit "送信", class: 'btn btn-outline-dark' %>
<% end %>
</div>