<div class="container-fluid min-vh-100">
  <div class="row py-5">
    <div class="col-2 col-lg-3">
      <div class="row sidebar">
        <div class="col">
          <%= render 'users/sidebar' %>
        </div>
      </div>
    </div>
    <div class="col-9 col-lg-6 ml-2">
      <div class="row pb-4">
        <div class="col">
          <h3><%= @users.count %>名のユーザーと繋がりましょう！</h3>
        </div>
      </div>
      <%= render 'users/index', users: @users %>
    </div>
    <div class="col-2 d-none d-lg-block">
      <%= render 'search/searchbar' %>
    </div>
  </div>
</div>