<div class="contaoner">
  <div class="col-3">
    <%= link_to 'ホーム', posts_path, class: 'btn btn-primary' %><br>
    <%= link_to 'プロフィール', user_path, class: 'btn btn-primary' %><br>
    <%= link_to '投資先診断', investment_path, class: 'btn btn-primary' %><br>
    <%= link_to '新規投稿', new_post_path, class: 'btn btn-primary' %>
  </div>
  <div class="col-6">
    <div class="">
      <!--%= attachment_image_tag user, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg" %>-->
    </div>
  </div>
  <div class="col-3">

  </div>
</div>