<div class="container">
  <div class="row">
    <div class="col my-5 text-center">
      <%= @result %><span>万円</span>
    </div>
  </div>
  <div class="row text-center my-5">
    <div class="col"><%= link_to'想像より低かった', new_user_registration_path, class: 'btn btn-primary' %></div>
    <div class="col"><%= link_to'高くて厳しい', save_path, class: 'btn btn-primary' %></div>
  </div>
  <div class="row">
    <div class="col my-5">
      <p>※将来的に現役の年齢が延び70歳と仮定・2000万問題と言われていますがこの先さらに必要な額が見込まれることを仮定し3000万・インデックスファンド年利5%を想定し減債基金係数を使って計算しています。</p>
    </div>
  </div>
</div>