<div class="container">
  <div class="row py-5">
    <div class="col text-center">
      <h1>投資の前に定期預金の積み立てからの方</h1>
    </div>
  </div>
  <div class="row pt-3">
    <div class="col text-center">
      <%= image_tag 'top12.png', width: '100%', height: '100%' %>
    </div>
  </div>
  <div class="row py-3">
    <div class="col text-center">
      <h1>制限は少ないが金利が低い「定期積立預金」</h1>
    </div>
  </div>
  <div class="row py-3">
    <div class="col-1 d-none d-sm-block"></div>
    <div class="col-12 col-sm-10">
      <p>
        毎月決まった積立日に、毎月決まった積立額を普通預金から自動積立します。最低預入額は金融機関によって異なりますが、
        条件に合えば自由に決めることができます。定期預金に対して制限が少ない点も特徴の一つです。その点金利が低いことを理解しておきましょう。<br>
        途中で出金したり、ボーナスなど随時の資金を上積み預金するといった手続きができるケースもあります。「少しずつ安定的に資産運用がしたい」
        といった方におすすめな方法です。
      </p>
    </div>
    <div class="col-1 d-none d-sm-block"></div>
  </div>
  <div class="row py-3 text-center">
    <div class="col-10">
      <h1>定期積立預金のメリットデメリット</h1>
    </div>
  </div>
  <div class="row py-3">
    <div class="col-1 d-none d-sm-block"></div>
    <div class="col-10">
      <table class="table table-bordered" style="table-layout:fixed;">
        <tr>
          <th class="table-success text-center" style="width:200px;">メリット</th>
          <th class="table-success text-center" style="width:200px;">デメリット</th>
        </tr>
        <tr>
          <th style="width:200px;">
            <li>・毎月少額預金が可能</li>
            <li>・元本保証がある</li>
            <li>・経済状況に合わせて預入金額・期間を変更可能</li>
            <li>・お金を引き出しやすい</li>
          </th>
          <th style="width:200px;">
            <li>・定期預金と比べて金利が低い</li>
          </th>
        </tr>
      </table>
    </div>
    <div class="col-1 d-none d-sm-block"></div>
  </div>
  <div class="row">
    <div class="col">
      <p>
        【2021最新・金利比較】金利で選ぶネット銀行おすすめランキング！サイト
        <%= link_to "こちら", "https://hoken-all.co.jp/media/netbank-kinri/" %>をクリック
      </p>
    </div>
  </div>
</div>