<div class="container app-info">
  <div class="row py-5">
    <div class="col">
      <h1 class="investment-title title-border">個人向け国債つみたてNISA</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-lg-7 text-center">
      <%= image_tag 'top10.png', width: '100%', height: '100%' %>
    </div>
    <div class="col-10 col-md-5">
      <div class="row">
        <div class="col pt-5">
          <h3>つみたてNISAは,投資をしたことがない人を意識したつくりになっている</h3>
        </div>
      </div>
      <div class="row py-3">
        <div class="col">
          <p class="text-height">
            長期的な視点で、分散された投資信託を活用して資産形成を行う皆さんを国が応援しますよ、というのが「つみたてNISA」です。
            証券会社や銀行、ゆうちょ銀行などの金融機関でNISA口座(非課税口座)を開設し、その口座内のつみたてNISA枠で株式投資信託や
            ETFを購入していくと、本来約<span class="under">20%の税金がかかる</span>分配金や解約した時の利益が非課税になるという制度です。
            投資できるのは<span class="under">年間40万</span>までで、非課税保有できる期間は<span class="under">最長20年</span>です。
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="row py-5">
    <div class="col">
      <h1 class="investment-title title-border">つみたてNISAのメリットデメリット</h1>
    </div>
  </div>
  <div class="row py-3">
    <div class="col-1 d-none d-sm-block"></div>
    <div class="col-10">
      <table class="table table-bordered" style="table-layout:fixed;">
        <tr>
          <th class="table-header text-center" style="width:200px;">メリット</th>
          <th class="table-header text-center" style="width:200px;">デメリット</th>
        </tr>
        <tr>
          <th style="width:200px;">
            <li>・初心者向きなシンプルな仕組み</li>
            <li>・運用益が非課税になる</li>
            <li>・対象となっている投資信託の手数料が低い</li>
            <li>・金融庁お墨付きの商品</li>
          </th>
          <th style="width:200px;">
            <li>・損益通算、繰越控除はできない</li>
          </th>
        </tr>
      </table>
    </div>
    <div class="col-1 d-none d-sm-block"></div>
  </div>
  <div class="row mb-5">
    <div class="col">
      <p>
        NISA（ニーサ）口座おすすめランキング＆比較 [2021年06月版]
        <%= link_to "こちら", "https://minkabu.jp/hikaku/lp/nisa_ranking.html?utm_source=google&utm_medium=cpc&utm_campaign=NISA_おすすめ
        &gclid=CjwKCAjw87SHBhBiEiwAukSeUcGKDyCqkw8H53z63XlqctR2aNFhgoX_gAmoeaygX5k3G44yV1kvlhoCcN4QAvD_BwE" %>をクリック
      </p>
    </div>
  </div>
</div>
<!--個人向け国債情報-->
<div class="container app-info">
  <div class="row pt-5">
    <div class="col">
      <h1 class="investment-title title-border">個人向け国債について</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-1"></div>
    <div class="col-10 col-sm-5 pt-5 pb-4">
      <p class="text-height">
        「個人向け国債」は、国が発行し、元本や利子をお支払いする「国債」のうち、原則として個人の方だけが保有できる国債です。
        額面金額1万円から<span class="under">1万円単位でご購入</span>できます。
        利子は半年毎のお受け取りで、満期時には元本（額面金額）が目減りすることなく戻ってくるので安心です。
      </p>
    </div>
    <div class="col-12 col-sm-6 text-center">
      <%= image_tag 'top12.png', width: '100%', height: '100%' %>
    </div>
  </div>
</div>
<div class="container">
  <div class="row py-5">
    <div class="col-12">
      <h1 class="investment-title title-border">個人向け国債のメリットデメリット</h1>
    </div>
  </div>
  <div class="row py-3">
    <div class="col-1 d-none d-sm-block"></div>
    <div class="col-10">
      <table class="table table-bordered" style="table-layout:fixed;">
        <tr>
          <th class="table-header text-center" style="width:200px;">メリット</th>
          <th class="table-header text-center" style="width:200px;">デメリット</th>
        </tr>
        <tr>
          <th style="width:200px;">
            <li>・国が元本と利子の支払いを保証している</li>
            <li>・1万円から購入できる</li>
            <li>・年率0.05％の最低金利保証がある</li>
          </th>
          <th style="width:200px;">
            <li>・発行から1年経過しないと中途換金できない</li>
            <li>・中途換金すると中途解約調整額が差し引かれる</li>
          </th>
        </tr>
      </table>
    </div>
    <div class="col-1 d-none d-sm-block"></div>
  </div>
  <div class="row py-5">
    <div class="col">
      <p>
        個人向け国債の買い方 [財務省サイト]
        <%= link_to "こちら", "https://www.mof.go.jp/jgbs/individual/kojinmuke/main/how_to_buy/" %>をクリック
      </p>
    </div>
  </div>
</div>