<div class="container">
  <div class="row my-5">
    <div class="col">
      <h1>個人向け国債積み立てNISA</h1>
    </div>
  </div>
  <div class="row my-5">
    <div class="col">
      <p>情報</p>
    </div>
  </div>
</div>