<div class="container">
  <h1 class="investment-title py-5">金融リテラシークイズ</h1>
  <!-- 問題パネル1 -->
  <div class="card row" id="pnl1">
    <div class="card-header"><b>Q1「人生の3大費用」といえば、何を指すでしょうか？</b></div>
    <div class="card-body">
      <!-- ラジオボタン -->
      <div class="form-group">
        <div class="radio col">
          <div class="row">
            <label>
              <input type="radio" name="q1" value="1" /> 住宅購入費、車両購入費、子の教育費
            </label>
          </div>
          <div class="row">
            <label>
              <input type="radio" name="q1" value="2" /> 一生涯の生活費、子の教育費、医療費
            </label>
          </div>
          <div class="row">
            <label>
              <input type="radio" name="q1" value="3" /> 住宅購入費、医療費、親の介護費
            </label>
          </div>
          <div class="row">
            <label>
              <input type="radio" name="q1" value="4" /> 子の教育費、住宅購入費、老後の生活費
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- 問題パネル2 -->
  <div class="card row" id="pnl2">
    <div class="card-header"><b>Q2「金利が上がったら、通常債券価格はどうなるでしょうか？」</b></div>
    <div class="card-body">
      <!-- ラジオボタン -->
      <div class="form-group">
        <div class="radio col">
          <div class="row">
            <label>
              <input type="radio" name="q2" value="1" /> 上がる
            </label>
          </div>
          <div class="row">
            <label>
              <input type="radio" name="q2" value="2" /> 下がる
            </label>
          </div>
          <div class="row">
            <label>
              <input type="radio" name="q2" value="3" /> 金利と債券に相関はない
            </label>
          </div>
          <div class="row">
            <label>
              <input type="radio" name="q2" value="4" /> 債券てなに？
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- 問題パネル3 -->
  <div class="card row" id="pnl3">
    <div class="card-header"><b>Q3「保険に加入すべき状況はどれか？」</b></div>
    <div class="card-body">
      <!-- ラジオボタン -->
      <div class="form-group">
        <div class="radio col">
          <div class="row">
            <label>
              <input type="radio" name="q3" value="1" /> リスク発生頻度が高く、発生時の損失が大きい
            </label>
          </div>
          <div class="row">
            <label>
              <input type="radio" name="q3" value="2" /> リスク発生頻度が低く、発生時の損失が大きい
            </label>
          </div>
          <div class="row">
            <label>
              <input type="radio" name="q3" value="3" /> リスク発生頻度が高く、発生時の損失が小さい
            </label>
          </div>
          <div class="row">
            <label>
              <input type="radio" name="q3" value="4" /> リスク発生頻度が低く、発生時の損失が小さい
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- 問題パネル4 -->
  <div class="card row" id="pnl4">
    <div class="card-header"><b>Q4「40歳で離婚すると確定拠出年金はどうなる？」</b></div>
    <div class="card-body">
      <!-- ラジオボタン -->
      <div class="form-group">
        <div class="radio col">
          <div class="row">
            <label>
              <input type="radio" name="q4" value="1" /> 評価できないから全額自分のものになる
            </label>
          </div>
          <div class="row">
            <label>
              <input type="radio" name="q4" value="2" /> 共有財産なので老後に半分受け取れる
            </label>
          </div>
          <div class="row">
            <label>
              <input type="radio" name="q4" value="3" /> まだ法律でも判断できない
            </label>
          </div>
          <div class="row">
            <label>
              <input type="radio" name="q4" value="4" /> 離婚してみないとわからない！
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- 問題パネル5 -->
  <div class="card row" id="pnl5">
    <div class="card-header"><b>Q5「インフレ率が 2%で、普通預金口座であなたが受け取る利息が 1%なら、1 年後にこの口座の お金を使ってどれくらいの物を購入することができると思いますか？」</b></div>
    <div class="card-body">
      <!-- ラジオボタン -->
      <div class="form-group">
        <div class="radio col">
          <div class="row">
            <label>
              <input type="radio" name="q5" value="1" /> 今日より買える
            </label>
          </div>
          <div class="row">
            <label>
              <input type="radio" name="q5" value="2" /> 今日と変わらない
            </label>
          </div>
          <div class="row">
            <label>
              <input type="radio" name="q5" value="3" /> 今日より少ない
            </label>
          </div>
          <div class="row">
            <label>
              <input type="radio" name="q5" value="4" /> インフレってなに？
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- 問題パネル6 -->
  <div class="card row" id="pnl6">
    <div class="card-header"><b>Q6「1 社の株を買うことは、通常、株式投資信託を買うよりも安全な投資ですか？」</b></div>
    <div class="card-body">
      <!-- ラジオボタン -->
      <div class="form-group">
        <div class="radio col">
          <div class="row">
            <label>
              <input type="radio" name="q6" value="1" /> 安全である
            </label>
          </div>
          <div class="row">
            <label>
              <input type="radio" name="q6" value="2" /> 安全ではない
            </label>
          </div>
          <div class="row">
            <label>
              <input type="radio" name="q6" value="3" /> どちらともいえない
            </label>
          </div>
          <div class="row">
            <label>
              <input type="radio" name="q6" value="4" /> わからない
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- 問題パネル7 -->
  <div class="card row" id="pnl7">
    <div class="card-header"><b>Q7「東証株価指数（TOPIX）とは、どんな銘柄の株価を示したものでしょう？」</b></div>
    <div class="card-body">
      <!-- ラジオボタン -->
      <div class="form-group">
        <div class="radio col">
          <div class="row">
            <label>
              <input type="radio" name="q7" value="1" /> 日本の全銘柄
            </label>
          </div>
          <div class="row">
            <label>
              <input type="radio" name="q7" value="2" /> 東証の全銘柄
            </label>
          </div>
          <div class="row">
            <label>
              <input type="radio" name="q7" value="3" /> 東証１部の全銘柄
            </label>
          </div>
          <div class="row">
            <label>
              <input type="radio" name="q7" value="4" /> 東証上場の優秀な一部の銘柄
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- 問題パネル8 -->
  <div class="card row" id="pnl8">
    <div class="card-header"><b>Q8「2060年頃には、65歳以上の高齢者の割合はどれくらいと予測されてるでしょうか？」</b></div>
    <div class="card-body">
      <!-- ラジオボタン -->
      <div class="form-group">
        <div class="radio col">
          <div class="row">
            <label>
              <input type="radio" name="q8" value="1" /> 25%
            </label>
          </div>
          <div class="row">
            <label>
              <input type="radio" name="q8" value="2" /> 30%
            </label>
          </div>
          <div class="row">
            <label>
              <input type="radio" name="q8" value="3" /> 35%
            </label>
          </div>
          <div class="row">
            <label>
              <input type="radio" name="q8" value="4" /> 40%
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- 問題パネル9 -->
  <div class="card row" id="pnl9">
    <div class="card-header"><b>Q9「20代の貯金額の中央値はいくらでしょうか？」</b></div>
    <div class="card-body">
      <!-- ラジオボタン -->
      <div class="form-group">
        <div class="radio col">
          <div class="row">
            <label>
              <input type="radio" name="q9" value="1" /> 8万
            </label>
          </div>
          <div class="row">
            <label>
              <input type="radio" name="q9" value="2" /> 38万
            </label>
          </div>
          <div class="row">
            <label>
              <input type="radio" name="q9" value="3" /> 88万
            </label>
          </div>
          <div class="row">
            <label>
              <input type="radio" name="q9" value="4" /> 138万
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- 問題パネル10 -->
  <div class="card row" id="pnl10">
    <div class="card-header"><b>Q10「金融商品を選ぶ際には３つのポイントを抑える必要があります。それは何でしょう？」</b></div>
    <div class="card-body">
      <!-- ラジオボタン -->
      <div class="form-group">
        <div class="radio col">
          <div class="row">
            <label>
              <input type="radio" name="q10" value="1" /> 安全性、流動性、収益性
            </label>
          </div>
          <div class="row">
            <label>
              <input type="radio" name="q10" value="2" /> 信頼性、流動性、収益性
            </label>
          </div>
          <div class="row">
            <label>
              <input type="radio" name="q10" value="3" /> 地域性、信頼性、収益性
            </label>
          </div>
          <div class="row">
            <label>
              <input type="radio" name="q10" value="4" /> 流動性、再現性、収益性
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- ボタン -->
  <div class="form-group row py-5">
    <button type="button" class="btn btn-dark btn-block btn-lg" id="btnCheck">
      結果を見る
    </button>
    <div class="col-12 pt-3"></div>
    <%= link_to 'ホームに戻る', posts_path, class: 'btn btn-outline-dark btn-block' %>
  </div>
  <!-- 結果を出力 -->
  <div class="card row">
    <div class="card-header"></div>
    <div class="card-body text-center" id="res">?</div>
    <div class="card-footer"></div>
  </div>
  <div class="row">
    <div class="col pt-5 pb-3">
      <span class="btn btn-dark" id="answer-pnl11">回答を確認する</span>
    </div>
  </div>
  <div class="card row" id="pnl11">
    <div class="card-header"><b>金融リテラシークイズの回答</b></div>
    <div class="card-body">
      <p>
        Q1. 子の教育費、住宅購入費、老後の生活費<br>
        Q2. 下がる<br>
        Q3. リスク発生頻度が低く、発生時の損失が大きい<br>
        Q4. まだ法律でも判断できない<br>
        Q5. 今日より少ない<br>
        Q6. 安全ではない<br>
        Q7. 東証１部の全銘柄<br>
        Q8. 40%<br>
        Q9. 8万<br>
        Q10. 安全性、流動性、収益性
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col pt-2 pb-4">
      <p>※解説は現在アップデート中です。</p>
    </div>
  </div>
</div>