<div class="container">
  <div class="row my-5">
    <div class="col">
      <h1>株式・REIT</h1>
    </div>
  </div>
  <div class="row my-5">
    <div class="col">
      <p>情報</p>
    </div>
  </div>
</div>