<div class="container-fluid">
  <div class="row py-5">
    <div class="col-3">
      <div class="row sidebar">
        <%= render 'users/sidebar' %>
      </div>
    </div>
    <div class="col-8 col-lg-6 main-content">
      <!--投稿一覧-->
      <%= render 'posts/index', posts: @posts %>
    </div>
    <div class="col-3 d-none d-lg-block">
      <%= render 'search/searchbar' %>
    </div>
  </div>
</div>