/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";
 @import 'font-awesome-sprockets';
 @import 'font-awesome';

 *{
  margin: 0;
  padding: 0;
  box-sizing: border-;
 }

// aタグの下線を消す
a:hover {
  text-decoration: none;
}
// フォントの行幅
.text-height {
  line-height: 1.7;
}

// 下線の装飾
.under {
  border-bottom: 3px solid #c41a30;
}

// フォント設定
.font-family {
    font-family: Hiragino Maru Gothic ProN W4;
}

// 英文字はみ出るのを防ぐ
 body {
  word-break: break-all;
}
.main-bg {
  background-color: #f2f0e6;
}

// bootstrapのボタン
.btn.new-btn {
  background-color: #5b75a6;
  color: #fff;
}

.btn.new-btn2 {
  background-color: #f2f0e6;
  color: #000;
  border: 1px solid #000;
}
.btn.new-btn2:hover {
  background-color: #5b75a6;
  color: #fff;
  border: 1px solid #5b75a6;
}


// フラッシュメッセージ
.notice {
  background-color: rgba(216, 219, 217, 0.4);
  padding: 20px 0;
}
.success {
  background-color: rgba(255, 255, 255, 1.0);
  padding: 20px 0;
}
.alert {
  background-color: rgba(255, 238, 125, 0.4);
}

// header
.header-logo {
  font-size: 40px;
}
.nav-link {
  font-size: 20px;
  padding-left: 25px;
}
.navbar-toggler-icon {
  font-size: 40px;
}

 // footer
 footer {
  width: 100%;
  color: #fff;
  text-align: center;
  padding: 30px 0;
  position: absolute;/*←絶対位置*/
  bottom: 0; /*下に固定*/
 }
 .twitter {
  color: #fff;
 }
 footer a:hover {
  color: #00aeef;
 }
 .wrapper{
  min-height: 100vh;
  position: relative;/*←相対位置*/
  padding-bottom: 148px;/*←footerの高さ*/
  box-sizing: border-box;/*←全て含めてmin-height:100vhに*/
}



// トップタイトルの切り替え
.top-title2 {
  /*要素の配置*/
  position:absolute;
  width: 100%;
  text-align: center;
  /*要素を天地中央寄せ*/
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  /*見た目の調整*/
  color:#fff;
  text-shadow: 0 0 15px #666;
  font-size: 210px;
  letter-spacing: 0.1em;
}