// Place all the styles related to the likes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// サイドバーの固定
.sidebar {
  height:100px;
  top:10px;
  position: -webkit-sticky;
  position: sticky;
}