// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// フォロー周りの装飾
.follow-count a {
  color: #57575f;
}
.follow-btn {
	display: inline-block;
	position: absolute;
	width: 130px;
	height: 40px;
	border: 2px solid #333;
	border-radius: 80px;
	background-color: #333;
	color: #fff;
	text-align: center;
	line-height: 40px;
}
.button span {
	display: inline-block;
	position: absolute;
	width: 130px;
	height: 40px;
	border: 2px solid #333;
	border-radius: 80px;
	text-align: center;
	line-height: 40px;
}
.button span:nth-child(1) {
	background-color: #fff;
	color: #333;

}
.button span:nth-child(2) {
	background-color: #333;
	color: #fff;

}
.button:hover span:nth-child(2) {
	display: none;
}

// ユーザー詳細の投稿一覧いいね一覧の切り替え
ul, li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.user-tabs {
  margin-top: 40px;
  background-color: white;
  overflow: hidden;
}
.user-tabs li {
  float: left;
}
.user-tabs li.active {
  border-bottom: 2px solid #3ecdc6;
}
.user-tabs li.active a {
  color: #57575f;
}
.user-tabs a {
  display: inline-block;
  padding: 16px 30px;
  color: #afb6bf;
}