<% if flash[:notice] %>
	<div class="flash notice">
		<div class="row py-3 text-center">
			<div class="col">
			  <%= flash[:notice] %>
			</div>
		</div>
	</div>
<% elsif flash[:success] %>
	<div class="flash success">
		<div class="row py-3 text-center">
			<div class="col">
		  	<%= flash[:success] %>
			</div>
		</div>
	</div>
<% elsif flash[:alert] %>
	<div class="flash alert">
		<div class="row py-3 text-center">
			<div class="col">
		    <%= flash[:alert] %>
			</div>
		</div>
	</div>
<% end %>