<div class="bg-light border-top py-3">
  <div class="container">
    <div class="row">
      <div class="col-sm-9 mb-2">
        <span class="text-muted">Copyright © Nagano CAKE All Rights Reserved.</span>
      </div>
      <div class="col-sm-3 mb-2 text-right">
        <span class="text-muted">
          <i class="fab fa-twitter-square mr-1"></i>
          <i class="fab fa-instagram-square mr-1"></i>
          <i class="fab fa-facebook-square"></i>
        </span>
      </div>
    </div>
  </div>
</div>