<div class="bg-light border-top py-3">
  <div class="container">
    <div class="row my-2 text-center">
      <div class="col">
        <%= link_to "", "https://twitter.com/sakatai_photo", class: "fab fa-twitter fa-4x" %>
      </div>
    </div>
    <div class="row text-center">
      <div class="col mb-2">
        <span class="text-muted">Copyright © Finance Bliss App All Rights Reserved.</span>
      </div>
    </div>
  </div>
</div>