<footer class="bg-dark" id="footer">
  <p id="page-top"><a href="#">Page Top</a></p>
  <%= link_to "", "https://twitter.com/sakatai_photo", class: "twitter fab fa-twitter fa-4x" %><br>
  <span class="footer-text">Copyright © Finance Bliss App All Rights Reserved.</span>
</footer>