<footer>
  <div class="py-3">
    <div class="container-fluid">
      <div class="row my-2 text-center">
        <div class="col">
          <%= link_to "", "https://twitter.com/sakatai_photo", class: "twitter fab fa-twitter fa-4x" %>
        </div>
      </div>
      <div class="row text-center">
        <div class="col mb-2">
          <span class="footer-text">Copyright © Finance Bliss App All Rights Reserved.</span>
        </div>
      </div>
    </div>
  </div>
</footer>